<div class="box">
<%= link_to (image_tag stack.image(:thumb)), stack %>
<p class="description">
	<%= stack.description %>
</p>
<p>
	<strong>
		Posted by: <%= stack.user.name %>
	</strong>
</p>
<%= stack.created_at.strftime("%d %b %Y") %>
<%= link_to 'Show', stack %>
<% if current_user == stack.user %>
	<p>
		<%= link_to 'Edit', edit_stack_path(stack) %>
		<%= link_to 'Destroy', stack, method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>
</div>