<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= image_tag @stack.image %>
			<p>
			  <%= @stack.description %>
			</p>
			<p>
			  <%= @stack.user.name %>
			</p>
			<% if current_user == @stack.user %>
				<%= link_to 'Edit', edit_stack_path(@stack) %> |
				<%= link_to 'Back', stacks_path %>
			<% end %>
		</div>
	</div>
</div>